Language: C
BasedOnStyle: Microsoft
UseTab: ForIndentation
IndentWidth: 4
ColumnLimit: 180
AllowShortFunctionsOnASingleLine: Inline
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BraceWrapping:
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
---
Language: Cpp
BasedOnStyle: Microsoft
UseTab: ForIndentation
IndentWidth: 4
ColumnLimit: 180
AllowShortFunctionsOnASingleLine: Inline
IndentAccessModifiers: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

