*.o
*.lo
*.la
*.Po
*.Plo
*.Tpo
*.deps
*.deps/
/*.deps
.deps/
.libs/
build/
dist/
dist-*/

Makefile
McOsu
/config.h
/config.h.in~
/config.log
/config.status
/stamp-h1
.dirstamp

/autom4te.cache

.vscode/
.idea/
*~
*.swp
*.swo
