[attr]generated gitlab-generated linguist-generated=true

src/Makefile.sources generated
src/config.h.in generated

aclocal.m4 generated
Makefile.in generated
configure generated

build/aux/compile generated
build/aux/depcomp generated
build/aux/install-sh generated
build/aux/missing generated
build/aux/config.guess generated
build/aux/config.sub generated
